.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--swamp-green);
  color: var(--gray-100);
  border: none;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: max-content;
  border: 2px solid var(--swamp-green);

  &:hover {
    border: 2px solid var(--gray-100);
    filter: brightness(0.85);
  }
}
