.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("/assets/elipse.png") no-repeat center;
  background-size: cover;
  background-color: var(--gray-700);

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
  }

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;

    @media (max-width: 768px) {
      padding: 0rem;
    }
  }
}
