.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--gray-600);
  border-radius: 10px;
  position: relative;

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
  }
}
