.container {
  width: 100%;
  display: flex;
  padding: 2rem;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background: var(--gray-solid);
  height: 100vh;
}

.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: 2rem;

  .title {
    font-size: 2rem;
    font-weight: 500;
  }

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    .card {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
  }
}

.footer {
  width: 100%;
  display: flex;
  padding: 2rem 4rem;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column;

  .title {
    font-size: 1rem;
    font-weight: 500;
  }

  div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;

    a {
      span {
        text-decoration: none;
        color: var(--white-solid);

        p {
          font-size: 0.8rem;
          font-weight: 400;
        }
      }
    }
  }
}
